.navbar {
  background: rgba(0, 0, 0, 0.4); 
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
  transition: backdrop-filter 0.1s ease;
  
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
  .navbar-container {
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 100vw;
  }
  
  .navbar-logo {
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    color: #00ADB5;
    border-bottom: 4px solid #00ADB5;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      padding-top: 10vh;
      display: flex;
      flex-direction: column;
      padding-bottom: 45vh;
      width: 100%;
      position: absolute;
      top: 80px;    
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
    background: rgba(0, 0, 0, 0.8); 
    
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
    height: 100vh;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
    .nav-links {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      color: #00ADB5;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 10%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  }